<input class="title" type="text" name="" placeholder="Title">
<textarea class="body" placeholder="Input the body of your blog here" name="name" rows="8" cols="80"></textarea>
<button class="submit" type="button" name="button">Submit</button>
