<button class="submit" type="button" name="button">SUBMIT</button>
<ul>
  <li><input class="first-name" type="text" name="" placeholder="First Name">{{ firstName }}</li>
  <li><input class="last-name"type="text" name="" placeholder="Last Name">{{ lastName }}</li>
  <li><input class="address"type="text" name="" placeholder="Address">{{ address }}</li>
  <li><input class="phone-number"type="text" name="" placeholder="Phone Number">{{ phoneNumber }}</li>
</ul>
